@media screen and (max-width: 500px) {
  .menu {
    position: absolute;
    flex-direction: column;
    top: 6rem;
    width: 100%;
    row-gap: 2px;
    padding: 5px;
    background-color: white;
  }
  .item {
    border: none;
    padding: 4px;
    border-bottom: 1px solid #edf6f9;
  }
  .dropdown {
    display: none;
  }
  .menuIcon {
    display: block;
  }
}
@media screen and (min-width: 500px) {
  .hide {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .hidebtn {
    display: none;
  }
}
