@media screen and (width<640px) {
.main{
    flex-wrap: wrap;
    font-size: x-small;
    justify-content: space-around;
    padding-bottom: 20px;
}
.logo{
    height: 45px;
    width: 80px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.heading{
 font-size: small;
}
.icon{
 height: 15px;
}
.img{
 height: 15px;
 margin-right: 10px;
}
.last{
    width: 90px;
}
.first{
    font-size: x-small;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.social{
    padding: 10px;
}
}