.active {
  border-radius: 10px;
  color: white;
  background: linear-gradient(90deg, #f87b34 0%, #cb5c1c 93.98%);
}
@media screen and (width>=425px) and (width<640px) {
  .flex {
    flex-direction: column;
  }
  .card1{
    margin: 4% auto;
    font-size: small;
  }
  .leftHeading{
    font-size: x-small;
  }
  .card2{
    font-size: small;
    box-shadow: 0px 0px 10px rgb(16, 16, 16,0.2);
    column-gap: 0px;
    margin: 15px 2px;
  }
  .cardSpecialText{
    font-size: medium;
  }
  .card2Text{
    margin-top: 0px;
  }
}
